# Python cache
__pycache__/
*.py[cod]
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
env/

# MkDocs build output
site/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Environment/config secrets
.env
